* {
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}

html {
  background-color: #222;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* your CSS below! */
td{
  background-color: white;
  height: 40px;
  width: 40px;
  transition: background-color 0.5s ease;
}

.red{
  background-color: red;
}
.blue{
  background-color: blue;
}
.aqua{
  background-color: aqua;
}
.aquamarine{
  background-color: aquamarine;
}
.beige{
  background-color: beige;
}
.brown{
  background-color: brown;
}
.green{
  background-color: green;
}
.crimson{
  background-color: crimson;
}
.darkmagenta{
  background-color: darkmagenta;
}